version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: olympic_db
    restart: always
    environment:
      - POSTGRES_USER=olympic_user
      - POSTGRES_PASSWORD=secret_password_local_only
      - POSTGRES_DB=olympic_tickets_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: olympic_pgadmin
    restart: always
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
